appdirs==1.4.3
asgiref==3.2.7
attrs==19.1.0
black==19.3b0
Click==7.0
Django==3.0.6
mccabe==0.6.1
pycodestyle==2.6.0
pydocstyle==5.0.2
pyflakes==2.2.0
pylama==7.7.1
pytz==2020.1
snowballstemmer==2.0.0
sqlparse==0.3.1
toml==0.10.0
